* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    /* border: 1px solid red; */
    ;
}

body {
    background-color: lightgrey;
}

.container {
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}

.mode-btn {
    display: flex;
    justify-content: flex-end;
}

.mode-btn button {
    width: 160px;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

#title {
    padding: 20px;
    font-size: 48px;
    text-align: center;
}

#img-slider {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.img-box {
    width: 920px;
    height: 500px;
    background-position: center;
    border: 5px solid black;
}

.img-box img {
    width: 100%;
    min-width: inherit;
    height: 100%;
    object-fit: cover;
}

#name-box {
    display: flex;
    justify-content: center;
}

#name-box div {
    width: 930px;
}

.car-name {
    padding: 10px 0px;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 0px;
    word-spacing: normal;
    color: white;
    background-color: black;
}

#img-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-btn button {
    margin: 10px;
    padding: 5px 10px;
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 5px;
    ;
}

/* for JS */

.hover-over {
    box-shadow: 2px 3px 5px black;
    position: relative;
    bottom: 3px;
    right: 2px;
}

.dark-mode {
    background-color: black;
    color: white;
    border-color: darkgrey;
}