/* Wildcard selector */
* {
    margin: 0;
}

body {
    padding: 10px;
}
.header {
    padding: 10px;
}

/* Direct Descendant Selector Example */
.header>p {
    color: magenta;
}
.cart>span {
    text-transform: uppercase;
}

/* Descendant Selector Example */
.quote p {
    color: darkslategrey;
    font-style: italic;
}

/* Attribute Selector Example */
input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}
